<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Preview</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    

  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav">   
    <div style="width: 100%;">  
     <button id="btn-back" type="button" class="btn btn-primary btn-outline-primary" th:value="${pptId}">Back</button>
    </div>
    </div>

    <div class="col-sm-8 text-center">
          <input id="currentpage" type="text" width="5px" th:value="${firstPage}" hidden="true"/>
          <img id="theImage" src="" style="width: 100%; height: 100%;"/>         

<!-- loading -->
<!-- <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        请稍候。。。<span id="result"></span>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="loading" data-backdrop='static'>
    <div role="dialog" style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5 style="color: #00BFFF;"><b>正在加载...</b></h5>
    </div>
</div>



<!--     <div id="images" class="carousel slide">
 
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  指示符
 <ol class="carousel-indicators" th:each="map : ${iMap}">
    <li data-target="#images" th:class="('1' eq ${map.key})?'active':''" ></li>
  </ol> 
 
  轮播图片
  <div class="carousel-inner">
  
  <div  th:each="map : ${iMap}" th:class="('1' eq ${map.key})?'item active':'item'">
      <img th:src="@{'/images/'+${map.value}}" style="height:500px;width:100%;display: block"/>
      <div class="carousel-caption" th:text="${map.key}"></div>
    </div>
  
  </div>
 
  左右切换按钮
 <a class="carousel-control left" href="#images" data-slide="prev">
  <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span></a>
	<a class="carousel-control right" href="#images" data-slide="next">
	 <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span></a>
 
 </div>
</div -->
    </div>   
       
  </div>
</div>

<footer class="container-fluid text-center">
  <button id="previous" type="button" style="width: 10%;" class="btn btn-primary btn-outline-primary"><span class="glyphicon glyphicon-menu-left"></span>Previous</button> 
          <input id="showcurrentpage" type="text" style="width: 5%;color: #000000;" th:value="${firstPage}" disabled="disabled"/> of total <input id="totalpage" type="text" style="width: 5%;color: #000000;" th:value="${orderIdMap.size()}" disabled="disabled"/>
          <button id="next" type="button" style="width: 10%;" class="btn btn-primary btn-outline-primary">Next<span class="glyphicon glyphicon-menu-right"></span></button> Go to page : <input onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" id="gotopage" type="text" value="" style="width: 5%;color: #000000;"/><button id="gotoBtn" type="button" style="width: 5%;" class="btn btn-primary btn-outline-primary">Go<span class="glyphicon glyphicon-hand-up"></span></button>
</footer>

</body>
<script  type="text/javascript">

var client="/client";

function loading(){ 
	$('#loading').modal('show');
}

$("#loading").modal({keyboard:false});

$('#loading').modal({backdrop: 'static', keyboard: false});


function loaded(){ 
	document.getElementById("theImage").onload=function(){
		$('#loading').modal('hide');
};
}

$(document).ready(
		function(){
			$.ajax({
			       url:client+"/preview/"+$("#btn-back").val()+"/image/"+$("#currentpage").val(),
			       type:"GET",
			       beforeSend:loading,
			       success: function(data){	
			    	   var path = client+"/images/"+data;
				   $("#theImage").attr("src",path);
				   loaded();
			                              }
			              }
			             );
		}
		);



$(document).ready(
		function(){
			$("#btn-back").click(
			function(){
				location.href =client+"/file";
			}		
			);
			
		}
		
		);
		
$(document).ready(
		function(){
				$("#gotoBtn").click(
					function(){
						       var currentVal;
						       if(isNaN($("#gotopage").val())|| ""==$("#gotopage").val()){
						    	   return;						    	  
						       }else{						    	   
						    	   currentVal = parseInt($("#gotopage").val()); 
						       }
						       if(currentVal>parseInt($("#totalpage").val())){
						    	   currentVal=parseInt($("#totalpage").val());
						       }
						       if(currentVal==0){
						    	   currentVal=1;
						       }
						       $.ajax({
						       url:client+"/preview/"+$("#btn-back").val()+"/image/"+currentVal.toString(),
						       type:"GET",
						       beforeSend:loading,
						       success: function(data,loaded){	
						    	   var path = client+"/images/"+data;
						      $("#gotopage").attr("value",currentVal.toString());	
							   $("#theImage").attr("src",path);
							   $("#currentpage").attr("value",currentVal.toString());
							   $("#showcurrentpage").attr("value",currentVal.toString());	
							   
						                              }
						              }
						             );
						       
					           }	
				                 );
		           }
	                 );	
		
		
$(document).ready(
	function(){
			$("#next").click(
				function(){
					       var currentVal = parseInt($("#currentpage").val())+1;
					       if(currentVal>parseInt($("#totalpage").val())){
					    	   currentVal=parseInt(1);
					       }
					       $.ajax({
					       url:client+"/preview/"+$("#btn-back").val()+"/image/"+currentVal.toString(),
					       type:"GET",
					       beforeSend:loading,
					       success: function(data,loaded){	
					    	   var path = client+"/images/"+data;
						   $("#theImage").attr("src",path);
						   $("#currentpage").attr("value",currentVal.toString());
						   $("#showcurrentpage").attr("value",currentVal.toString());	
					                              }
					              }
					             );
					       
				           }	
			                 );
	           }
                 );	
$(document).ready(
		function(){
				$("#previous").click(
					function(){					
					       var currentVal = parseInt($("#currentpage").val())-1;
					       if(currentVal==parseInt(0)){
					    	   currentVal=parseInt($("#totalpage").val());
					        }
					         $.ajax({
					           url:client+"/preview/"+$("#btn-back").val()+"/image/"+currentVal.toString(),
						       type:"GET",
						       beforeSend:loading,
						       success: function(data,loaded){	
						    	   var path = client+"/images/"+data;
							   $("#theImage").attr("src",path);
							   $("#currentpage").attr("value",currentVal.toString());
							   $("#showcurrentpage").attr("value",currentVal.toString());	
						                              }
						              }
						             );
					           }	
				                 );
		           }
	                 );		
			



</script>
</html>
